<div class="table-responsive-xl-md-12">
    <table class="table table table-lg table-dark">
        <thead>
            <tr style="line-height: 17px;">
              <th >Бригада <br> №</th>
              <th>Массив</th>
              <th class="text-center">Бригдадир <br> Ф И Ш</th>
              <th>Майдони  <br>(ГА)</th>
              <th>Режа <br>(ТН)</th>
              <th>Бир кунда<br>(ТН)</th>
              <th>Мавсумда<br>(ТН)</th>
              <th>Скидка<br>(ТН)</th>
              <th>Центнер <br>(Ц)</th>
              <th>Бажарилиш<br>(%)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            
    </table>
  </div>
  
  <div class="table-responsive-sm">
    <table class="table table table-sm table-dark">
        <thead>
            <tr style="line-height: 17px;">
              <th >Бригада <br> №</th>
              <th>Массив</th>
              <th class="text-center">Бригдадир <br> Ф И Ш</th>
              <th>Майдони  <br>(ГА)</th>
              <th>Режа <br>(ТН)</th>
              <th>Бир кунда<br>(ТН)</th>
              <th>Мавсумда<br>(ТН)</th>
              <th>Скидка<br>(ТН)</th>
              <th>Центнер <br>(Ц)</th>
              <th>Бажарилиш<br>(%)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            <tr>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
                <td>12244</td>
            </tr>
            
    </table>
  </div>