<div class="item"><a href="{% url 'ihome' %}" class="text-primary">Арик Чопиш</a></div>
<div class="item"><a href="{% url 'chigit' %}" class="text-primary">Чигит Экиш</a></div>
<div class="item"><a href="{% url 'oq_olish' %}" class="text-primary">Укарик Олиш</a></div>
<div class="item"><a href="{% url 'oq_komish' %}" class="text-primary">Укарик Кумиш</a></div>
<div class="item"><a href="{% url 'p_suv'%}" class="text-primary">Пахта Суви</a> </div>
<div class="item"><a href="{% url 'g_suv' %}" class="text-primary">Галла Суви</a></div>

