<div class="table-responsive d-lg-md-none">
<table id="br1" class="table-bordered table table-sm  text-center  table-dark table-hover text-light ">
    <thead class="text-info">
      <tr style="line-height: 17px;" >
        <th >ID</th>
        <th >Бригада <br> №</th>
        <th>ИШ ХАККИ <br> ХАРАЖАТ</th>
        <th>УГИТЛАШ <br> ХАРАЖАТИ</th>
        <th>КИМЁВИЙ ВОСИТАЛАР<br>ХАРАЖАТИ</th>
        <th>УРУГЛИК <br>ХАРАЖАТИ</th>
        <th>ТЕХНИКА <br>ХАРАЖАТИ</th>
        <th>ПАХТАНИ ТЕРИШ<br>ХАРАЖАТЛАРИ</th>
        <th>ПАХТАНИ ТАШИШ<br> ХАРАЖАТИ</th>
        <th>ЖАМИ <br>ХАРАЖАТЛАР</th>
      </tr>
    </thead>
    <tbody>
      {%  for i in info %}
        <tr>
            
        </tr>
      {% endfor %}
    </tbody>
</table>
</div>  